.page{
  margin: 30px 30px;
  
}
.nav{
  width: 400px;
  height: 50px;
  background-color: blanchedalmond;
}
.section{
  width:400px;
  height: 600px;
  border: 1px solid black;
}

.nav button{
  height:50px;
  background-color: transparent;
  border:none ;
  transition: transform 0.3s ease;
  
}
button:hover{
  transform: scale(1.1);
}

.footer{
  width:400px;
  height:40px;
  background-color: blanchedalmond;
}
.textarea{
  height:40px;
  padding: 0px;
  border: 0px;
}
.add{
  height:40px;
  border:0px;
  padding: 0px;
}
#icon{
  margin-right: 100px;
}